*{
    color:#777777;
    font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height:150%;
    font-weight:400;
}
body{
    margin : 0;
    padding : 0;
    background : url("../images/background.png") no-repeat;
    background-size:100%;
}
.wrapper {
    width:70%;
    margin : 0 auto;
    margin-top : 15%;
}
h1 {
    font-size:28px;
    font-weight:600;
}
#wrong {
    color:red;
    font-weight: 1000;
}
@media screen and (max-width:640px)  {
    body{
        background : url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX2099574.jpg") no-repeat;
        background-size:100%;
    }
    .wrapper {
        width:70%;
        margin-top : 22%;
    }
}
